{% extends "base.html" %}
{%load static%}
{% load crispy_forms_tags %}

{% block content %}
<div class="Tableau">
    <div class="back">
        <h5><a href="{% url 'dashboard:index'%}">back</a></h5>

    </div>
    <div class="titre">
        <h2>Add user</h2>
    </div>
    <div class="formuaire">
        <form action="" method="post" class="formulaire">
            {% csrf_token %}
            {{form_user }}
            <!--div class="formu">
                <input type="text" placeholder="speudo">
            </div>
            <div class="formu">
                <input type="password" placeholder="mot de passe">
            </div>
            
            <div class="formu">
                <input type="password" placeholder="confirmez le mot de passe">
            </div-->
            <div class="form-buttons">
                <button type="reset" class="cancel-btn">Cancel</button>
                <button type="submit" class="submit-btn">Send</button>
            </div>

        </form>
    </div>

</div>

{% endblock content %}

        